@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header{
    width: 100%;
    max-width: 1517px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 177px;
    height: 48px;
}

.navbar{
    width: 509px;
    height: 27px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    height: 27px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.header button{
    width: 170px;
    height: 50px;
    background: #1F1F1F;
    color: white;
}

.hero-section{
    width: 100%;
    max-width: 1517px;
    height: 866px;
    margin: 80px auto;
    gap: 40px;
}
.hero-section-up{
    width: auto;
    height: 428px;
    display: flex;
    justify-content: space-between;

}
.hero-section-down{
    display: flex;
    gap: 50px;
    width: auto;
    height: 438px;
}

.hero-text-header{
    width: 933px;
    height: 161px;
    font-weight: 500;
    font-size: 133px;
    margin-bottom: 60px;
}
.hero-text-paragraph{
    width: 700px;
    height: 168px;
    font-weight: 500;
    font-size: 27px;
}

.hero-section-text2{
    width: 699px;
    height: 426px;
}

.hero-text-button{
    width: 302px;
    height: 86px;
    background: #1F1F1F;
    color: white;
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;

}

.hero-section-images{
    width: 507px;
}
.hero-section-stats{
    display: flex;
    width: 699px;
    height: 116px;
    justify-content: space-between;
    margin-top: 100px;
}
.hero-section-stats h6{
    font-weight: 400;
    font-size: 70px;
}
.hero-section-stats p{
    font-weight: 400;
    font-size: 22px;
}

.hero-section-images2{
    width: 818px;
    position: relative;
}

.square{
    border: 1px solid black;
    width: 206px;
    height: 187px;
    z-index: 1;
}
.images2{
    width: 638px;
    height: 406px;
    position: absolute;
    left: 30px;
    bottom: 0;
    z-index: 2;
}

.arrow-down{
    width: 151px;
    height: 151px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}

.services-wrap{
    width: 1517px;
    height: 352px;
    margin: 70px auto;
}

.service-wrap-header{
    width: 496px;
    height: 70px;
    display: flex;
    gap: 30px;
}
.service-wrap-header h2 {
    font-size: 58px;
    font-weight: 600;
}

.service-line{
    border: 2px solid black;
    width: 100px;
    height: 0px;
    margin-top: 30px;
}

.service-wrap-card{
    width: 1517px;
    height: 184px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 471px);
    gap: 50px;
}

.service-card{
    display: flex;
    gap: 30px;
}
.service-card-image{
    width: 70px;
    height: 70px;
}
.service-card h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.service-card p{
    font-weight: 500;
    font-size: 22px;
}

.design-briliance-wrap{
    width: 1517px;
    height: 712px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.design-briliance-image{
    width: 711px;
    height: 711px;
}
.design-briliance-text{
    width: 704px;
}
.design-briliance-header{
    height: 140px;
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 80px;
}
.design-briliance-par{
    height: 100px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 80px;
}
.design-briliance-service{
    border-bottom: 1px solid #DADADA;
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 50px 0px;
}
.design-briliance-service p{
    font-weight: 600;
    font-size: 24px;
}
.plus-sign{
    width: 24px;
    height: 24px;
}
.design-briliance-button{
    width: 275px;
    height: 80px;
    color: white;
    background-color:#1F1F1F;
    font-size: 24px;
    font-weight: 600;
}
.process-section{
    width: 1517px;
    height: 868px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.process-section-text{
    width: 704px;

}
.process-section-image{
    width: 697px;
}
.process-section-header{
    height: 140px;
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 60px;
}
.process-section-content{
    display: flex;
    justify-content: space-between;
    height: 668px;
}
.process-content-icons{
    width: 90px;
}
.content-icon{
    width: 72px;
    height: 72px;
    margin: 20px auto;
}
.icon-lines{
    width: 0px;
    height: 102px;
    border: 1px solid #9B9B9B;
    margin: 0px 38px;
}
.process-content-text{
    width: 569px;
}
.content-text{
    width: 569px;
    height: 177px;
    margin: 45px 0px;
}
.content-text h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.content-text p{
    font-size: 24px;
    font-weight: 500;
}

.testimonial-section{
    width: 1517px;
    height: 818px;
    margin: 50px auto;
    display: flex;
    gap: 100px;
}
.testimonial-section-left{
    width: 711px;
    height: 818px;
    position: relative;
}
.testimonial-imagebg{
    width: 711px;
    height: 711px;
    position: absolute;
}
.testimony-card{
    width: 600px;
    height: 600px;
    bottom: 0px;
    right: -150px;
    position: absolute;
    background: #1F1F1F;
}

.testimony-card-sign{
    font-weight: 600;
    font-size: 150px;
    width: 60px;
    height: 182px;
    margin-left: 30px;
    color: white;
}
.testimony-card-text{
    font-weight: 500;
    font-size: 24px;
    margin-left: 30px;
    width: 500px;
    height: 160px;
    color: white;
}
.testimony-card-pp{
    display: flex;
    margin-left: 30px;
    margin-top: 80px;
    gap: 20px;
}
.testimony-pp{
    width: 72px;
    height: 72px;
}
.testimony-name{
    width: 181px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    color: white;
}
.testimony-location{
    width: 164px;
    height: 20px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.testimony-section-arrow{
    width: 180px;
    height: 72px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.testimonial-section-right{
    width: 704px;
}
.testimonial-header{
    height: 140px;
    width: 704px;
    margin-bottom: 76px;
}
.testimonial-header h2{
    font-weight: 600;
    font-size: 58px;
}
.testimony-card1{
    width: 600px;
    height: 600px;
    margin-left: 100px;
    background: #1F1F1F;
}

.newsletter-section{
    width: 979px;
    height: 490px;
    margin: 100px auto;
}
.newsletter-heading{
    width: 849px;
    height: 140px;
    margin: 0px auto 50px auto;
    font-weight: 600;
    font-size: 58px;
    text-align: center;
}
.newsletter-text{
    width: 770px;
    height: 80px;
    margin: 20px auto;
    font-size: 24px;
    font-weight: 500;
}
.newsletter-subscribe{
    width: 979px;
    height: 104px;
    margin-top: 112px;
    padding-left: 20px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 100px 0px #00000024;
}
.email-icon{
    width: 24px;
    height: 24px;
    margin: auto 20px;
}
.subscribe-email{
    color: #8C8C8C;
    font-weight: 500;
    font-size: 24px;
    width: 704px;
    border: 1px solid white;
}
.subscribe-button{
    width: 275px;
    height: 80px;
    background: #1F1F1F;
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin: auto 0px;
}
.footer{
    width: 1517px;
    height: 642px;
    background-color: #1F1F1F;
    margin: 20px auto;
    display: flex;
    gap: 200px;
    padding-top: 150px;
    padding-left: 50px;
}
.footer-logo{
    width: 322px;
}
.footer-logo p{
    color: #D1D1D1;
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0px;
}
.footer-icons{
    width: 202px;
    height: 36px;
    display: flex;
    gap: 20px;
}
 .footer-services{
    width: 800px;
    display: flex;
    justify-content: space-between;
 }
 .our-services-footer{
    width: 300px;
 }
 .footer-service-header{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
}
.our-services-footer p{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 22px;
    color: #D1D1D1;

}